---

---

<header class="px-8 py-4">
  <nav class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    <div class="text-center font-medium sm:text-left">
      <a href="/">The Book Of Satoshi</a>
    </div>
    <div class="text-center sm:text-right">
      <a
        class="bg-brand rounded-full px-4 py-2 text-sm font-medium text-white uppercase no-underline"
        href="https://www.amazon.com/Book-Satoshi-Collected-Writings-Nakamoto/dp/0996061371"
        >Buy Now</a
      >
    </div>
  </nav>
</header>
